@using MyFinance.Tikasa.Infractstructure;
@model PagedList<MyFinance.Domain.BusinessModel.HotelModel>

@{
    ViewBag.Title = "tìm kiếm";
    ViewBag.Description = "nhà nghỉ";
    ViewBag.Keywords = "nhà nghỉ";
    ViewBag.Address = "nhà nghỉ";
    Layout = "~/Views/Shared/_LayoutList.cshtml";

}
<div id="content-body" class="listing-body">
    <div class="category container">
        <div class="sort_top">
            <div class="row">
                <div class="col-md-10 col-sm-9 col-xs-9">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="/search-result-hotel-5/?style=1&amp;orderby=ID">Date</a></li>
                        <li class=""><a href="/search-result-hotel-5/?style=1&amp;orderby=price_asc">Price (low to high)</a></li>
                        <li class=""><a href="/search-result-hotel-5/?style=1&amp;orderby=price_desc">Price (high to low)</a></li>
                        <li class=""><a href="/search-result-hotel-5/?style=1&amp;orderby=name_asc">Name (A-Z)</a></li>
                        <li class=""><a href="/search-result-hotel-5/?style=1&amp;orderby=name_desc">Name (Z-A)</a>            </li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-3 text-center">
                    <div class="sort_icon fist sort_grid"><a class="" href="javascript:void(0)"><i class="fa fa-th-large "></i></a></div>
                    <div class="sort_icon last sort_list"><a class="active" href="javascript:void(0)"><i class="fa fa-list "></i></a></div>
                </div>
            </div>
        </div>

        <!--product-list-->
        <ul class="booking-list loop-hotel style_list">
            @foreach (var item in Model)
            {

           
            <li class="booking-item post-9005 st_hotel type-st_hotel status-publish has-post-thumbnail hentry hotel_facilities-airport-transport hotel_facilities-toilet hotel_facilities-towels hotel_facilities-wi-fi-internet hotel_theme-best-value hotel_theme-boutique hotel_theme-budget hotel_theme-classic hotel_theme-luxury hotel_theme-party hotel_theme-resort-hotel hotel-services-babysittingchild-services hotel-services-concierge-service hotel-services-gift-shop hotel-services-laundry">
                <div class="feature_class st_featured">Featured</div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="booking-item-img-wrap st-popup-gallery">
                            <a class="st-gp-item"  href="@Url.Action("Detail","Home",new {hotelId=item.Id })">
                                <img width="360" height="270" src="http://z8e0944c0fq469vst36jkhqn.wpengine.netdna-cdn.com/wp-content/uploads/st_uploadfont/529075_13101100100016956062-360x270.jpg" class="attachment-360x270 size-360x270 wp-post-image" alt="">
                            </a>
                            <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>10</div>                <div class="hidden">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="booking-item-rating">
                            <ul class="icon-list icon-group booking-item-rating-stars">
                                <span class="pull-left mr10">Hotel star</span>
                                <li><i class="fa  fa-star"></i></li>
                                <li><i class="fa  fa-star"></i></li>
                                <li><i class="fa  fa-star"></i></li>
                                <li><i class="fa  fa-star"></i></li>
                                <li><i class="fa  fa-star"></i></li>
                            </ul>
                            <span class="booking-item-rating-number"><b>5</b> of 5</span>

                        </div>
                        <a class="color-inherit"  href="@Url.Action("Detail","Home",new {hotelId=item.Id })">
                            <h5 class="booking-item-title">
                                @item.Name
                            </h5>
                        </a>
                        <p class="booking-item-address"><i class="fa fa-map-marker"></i> @item.Address</p>
                        <p class="booking-item-address"><i class="fa fa-map-marker"></i> Giờ đầu : 50,000</p>
                        <p class="booking-item-address"><i class="fa fa-map-marker"></i> Giờ đầu : 70,000</p>
                        <p class="booking-item-address"><i class="fa fa-map-marker"></i> Qua đêm : 180,000</p>
                    </div>
                    <div class="col-md-3">
                        <span class="booking-item-price-from">Qua đêm</span>
                        <span class="booking-item-price">@item.OverNight</span><span><!--/--></span>
                        <br>
                        <a class="btn btn-primary btn_book"  href="@Url.Action("Detail","Home",new {hotelId=item.Id })">Xem Ngay</a>

                    </div>
                </div>
            </li>

            }
            
         

        </ul>
        <div class="row">
            <!-- pager -->
            <div class="pager">

                @Html.Pager(
            Model.PageIndex,
            Model.TotalPages,
            x => Url.Action("Result", new { page = x, keyword = ViewData["keyword"] }))

            </div>

        </div>
       
    </div>
</div>
  <div id="footer">
        <div class="container">
            <ul>
                <li><a href="#" title="">Quảng cáo</a> </li>
                <li><a href="#" title="">Doanh nghiệp</a> </li>
                <li><a href="#" title="">Giới thiệu</a> </li>
                <li><a href="#" title="">Cài đặt</a> </li>
                <li><a href="#" title="">Điều khoản</a> </li>
                <li><a href="#" title="">Bảo mật</a> </li>
            </ul>
        </div>
    </div>



    <div class="container" style="display:none">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Result", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
            {

            <div class="form-group">
                @Html.TextBox("keyword", null, new { @class = "form-control" })

            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default">Tìm kiếm</button>
                </div>

            </div>

            }


            </div>

        </div>
        <div class="row">
            <ul class="list-group">
                @foreach (var item in Model)
           {
        <li class="list-group-item">@item.Name <span class="badge">@item.Address</span></li>
           }




            </ul>
            <!-- pager -->
            <div class="pager">

                @Html.Pager(
            Model.PageIndex,
            Model.TotalPages,
            x => Url.Action("Result", new { page =x, keyword= ViewData["keyword"] }))

            </div>

        </div>
    </div>

