<div id="sidebar2" class="sidebar responsive menu-min" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
    <ul class="nav nav-list" style="top: 0px;">
      
        <!--Menu-->
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-sliders"></i>
                <span class="menu-text">
                    Main Menu
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Index","Menu")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thêm mới
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index","Carkind")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh sách menu
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="@Url.Action("Index","CarLine")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Sắp xếp
                    </a>

                    <b class="arrow"></b>
                </li>


            </ul>
        </li>
        <!--Menu-->
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-server"></i>
                <span class="menu-text">
                    Quản lí danh mục
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Index","Menu")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Sản phẩm
                    </a>


                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="/danh-muc-tin-tuc.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Tin tức
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-cubes"></i>
                <span class="menu-text">
                    Quản lí sản phẩm
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Create","Product")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thêm mới
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="/product.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Danh sách sản phẩm
                    </a>

                    <b class="arrow"></b>
                </li>


            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-newspaper-o"></i>
                <span class="menu-text">
                    Quản lí nội dung
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Index","News")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Tin tức
                    </a>


                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index","Page")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Dịch vụ
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index","Brand")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Công trình đã thực hiện
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text">
                    Quản lí hình ảnh
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("Index","Slide")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Slideshow
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index","Slide")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Gallery hình ảnh
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
        <!--Kho-->
        <li class="">
            <a href="@Url.Action("Index","Store")">
                <i class="menu-icon fa fa-barcode"></i>
                <span class="menu-text">
                    Quản lí Kho
                </span>
            </a>


        </li>
        <!--QL User-->
        <li class="">
            <a href="/list-user.html">
                <i class="menu-icon fa fa-user-plus"></i>
                <span class="menu-text">
                    Quản lí người dùng
                </span>
            </a>
        </li>
        <!--SEO-->
        <li class="">
            <a href="/seo-social.html">
                <i class="menu-icon fa fa-rss"></i>
                <span class="menu-text">Seo &amp; Social network</span>
            </a>

        </li>

        <li class="">
            <a href="@Url.Action("Index","LogAction")">
                <i class="menu-icon fa fa-thumb-tack"></i>
                <span class="menu-text">
                    Lịch sử thao tác
                </span>
            </a>


        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-cogs"></i>
                <span class="menu-text">
                    Cài đặt chung
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">

                <li class="">
                    <a href="@Url.Action("Create","Product")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Setting
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index","Product")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Email
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index","Product")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Cấu hình
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
        <li class="">
            <a href="#" style=" color: rgb(213, 63, 64);">
                <i class="menu-icon fa fa-comments"></i>
                <span class="menu-text">
                    Admin helps
                </span>
            </a>


        </li>
    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>



